

@{
    ViewData["Title"] = "Index";
}
<p class="container">
    <h2>Employees Record</h2>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" onclick="clearTextBox();">
        Add New Employee
    </button><br /><br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Department</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <!-- Employee records will be populated here -->
        </tbody>
    </table>
</p>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabelAddEmployee" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabelAddEmployee">Add Employee</h4>
                <h4 class="modal-title" style="display:none;" id="myModalLabelUpdateEmployee">Update Employee</h4>
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="Id" name="Id" />
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <label for="Salary">Salary</label>
                        <input type="text" class="form-control" id="Salary" placeholder="Salary" />
                    </div>
                    <div class="form-group">
                        <label for="Department">Department</label>
                        <input type="text" class="form-control" id="Department" placeholder="Department" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add Employee</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="return Update();">Update</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Are you sure you want to delete the following Employee?
            </div>
            <div class="modal-body">
                <input type="hidden" id="HiddenEmployeeId" name="HiddenEmployeeId" />
                <label id="labelToUpdateName" style="display: block; text-align: center;"></label><br />
                <label id="labelToUpdateDepartment" style="display: block; text-align: center;"></label><br />
                <label id="labelToUpdateSalary" style="display: block; text-align: center;"></label><br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnDelete" onclick="return Delete();">Delete</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script src="~/js/ajax.js"></script>   
}